* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body {
    background-image: url(../LogoEnviosService/fondo2.jpg)
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "area1 area2"
        "area1 area2"
}


.area1 {
    grid-area: area1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area2 {
    grid-area: area2;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Header */


.navegador {
    background-image: url(../LogoEnviosService/banner-transporte-nacional.jpg);
}

.logo {
    width: 120px;
}

/* Main  */

main {
    margin: 5PX;
    padding: 10px;
}

.sucursales {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.parafo1 {
    text-align: center;
    width: 900px;
    margin: 10px auto;
    height: 180px;
    border: solid orangered 2px;
    overflow: auto;
    align-items: center;
}


p {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    text-decoration: double;
    font-family: 'Dela Gothic One', cursive;
    font-size: xxx-large;
    margin: 25px;
}

h2 {
    text-align: center;
    color: orangered;
    font-family: 'Permanent Marker', cursive;
    font-size: xx-large;
}

.form {
    list-style: none;
}

/* Footer */
footer {
    background-image: url(../LogoEnviosService/Carousel/desktop-wallpaper-youtube-banner-youtube-channel-banner.jpg);
    text-align: center;
    margin: 10px;
    padding: 10px;

}
.foter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.boton {
    width: 50px;
}

.derechos {
    width: 200px;
}

ul li {
    list-style: none;

    font-family: 'Dela Gothic One', cursive;
    ;
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Formulario */

form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
    color: orangered;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.btform {
    background-color: orangered;
    color: black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

/*MEDIAQUERRIES*/

@media screen and (max-width: 780px){
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "area1"
            "area2"
    }
    
    
    .area1 {
        grid-area: area1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .area2 {
        grid-area: area2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}