
body{
    background-image: url(../LogoEnviosService/fondo2.jpg)
}

@media screen and (max-width: 768px){
    body{
        background: #fceabb; 
        background: -webkit-linear-gradient(to right, #f8b500, #fceabb);
        background: linear-gradient(to right, #f8b500, #fceabb); 

    }
}

