/*Colores*/
$colornegro:#0f0f0f;
$colornaranja:#ff7700;
$coloramaranjado:  #ff9100 ;
$colortiza:#fff5f5;
$colorazul:#3a4dff ;

header{
    nav{
        .navegador{
            background-image: url(../LogoEnviosService/banner-transporte-nacional.jpg);
            .navbar-toggler{
                color: $coloramaranjado;
                border-color: $coloramaranjado;
            }
            a{
                .logo{
                    width: 120px;
                }
            }
            div{
                ul{
                    li{
                        list-style: none;
                        font-family: 'Dela Gothic One', cursive;
                        .botonNav{
                            &:hover{
                                color: $colornaranja;
                            }
                            &:active{
                                color: $colorazul;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    header{
        nav{
            .navegador{
                background: #fceabb;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


            }
        }
    }
}