/*Colores*/
$colornegro:#0f0f0f;
$colornaranja:#ff7700;
$colortiza:#fff5f5;

main{
    h1{
        text-align: center;
        text-decoration: double;
        font-family: 'Dela Gothic One', cursive;
        font-size: xxx-large;
        margin: 25px;
    }
    h2{
        text-align: center;
        color: #ff4500;
        font-family: 'Permanent Marker', cursive;
        font-size: xx-large;
    }
    div{
        div{
            h2{
                div{
                    div{
                        p{
                            text-align: center;
                            text-decoration: none;
                            color: black;
                            font-size: large;
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        }
                    }
                }
            }
        }
    }
    div{
        iframe{
            display: block;
            width: 80%;
            aspect-ratio: 16 / 9;
        }
    }
}
