/*Colores*/
$colornegro:#0f0f0f;
$colornaranja:#ff7700;
$colortiza:#fff5f5;

main{
    h1{
        text-align: center;
        text-decoration: double;
        font-family: 'Dela Gothic One', cursive;
        font-size: xxx-large;
        margin: 25px;
    }
    h2{
        text-align: center;
        color: $colornaranja;
        font-family: 'Permanent Marker', cursive;
        font-size: xx-large;
    }
    div{
        div{
            div{
                p{
                    font-family: 'Patrick Hand', cursive;
                    font-family: 'Patrick Hand SC', cursive;
                    text-align: center;
                    text-decoration: none;
                    color: $colornegro;
                    font-size: 1.5rem;
                }
            }
        }
    }
    div{
        iframe{
            display: block;
            width: 80%;
            aspect-ratio: 16 / 9;
        }
    }
}
