/*Colores*/
$colornegro:#0f0f0f;
$colornaranja:#ff7700;
$coloramaranjado:  #ff9100 ;
$colortiza:#fff5f5;

main{
    .fondoInd{
        background-color: $coloramaranjado;
        div{
            h1{
                text-align: center;
                text-decoration: double;
                font-family: 'Dela Gothic One', cursive;
                font-size: xxx-large;
                margin: 25px;
            }
        }
        h3{
            text-align: center;
            font-family: 'Patrick Hand', cursive;
            font-family: 'Patrick Hand SC', cursive;
            font-size: 2rem;
        }
    }
}


@media screen and (max-width: 768px){
    header{
        nav{
            div{
                button{
                    color: $coloramaranjado;
                }
            }
        }
    }

    main{
        .fondoInd{
            background: none;
            div{
                h1{
                    color: $colornegro;
                }
            }
        }
        section{
            width: 100%;
        }
    }
}