@import "body.scss";
@import "header.scss";
@import "mainindex.scss";
@import "mainquienessomos.scss";
@import "maincontacto.scss";
@import "mainsucursales.scss";
@import "footer.scss";
@import "mediaquerries.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
  


